<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis Favoritos</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div class="contenedor-principal">
    <div class="banner-superior">Mis Favoritos</div>

    <div id="contenedor-favoritos" class="productos">
    </div>
  </div>

  <div class="barra-superior">
    <a href="../index.html">🏠</a>
    <a href="checkout.html">🛒</a>
    <a href="favoritos.html" class="active">❤️</a>
    <a href="perfil.html">👤</a>
  </div>

  <script src="../js/favoritos.js"></script>
</body>
</html>
